
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="input-group no-border">
        <input type="text"  [(ngModel)]="Nom" (input)="search()"  class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>
      </div>
      
      <table class="table table-striped">
        <tr><td>ID</td><td>Nom</td><td>Prenom</td><td>Tel</td><td>Actions</td></tr>
        <tr *ngFor="let client of clients">
          <td>{{client.id_client}}</td>
          <td>{{client.nom}}</td>
          <td>{{client.prenom}}</td>
          <td>{{client.tel}}</td>


          <td>
            <a class="btn btn-danger"style="font-size:medium;color:
              darkred;background-color:white" title="supprimer"
              (click)="deleteClient(client.id_client);"><i class="fa fa-trash"></i></a>
            <a class="btn btn-success" style="font-size:medium;color: rgb(0,
              139, 63);background-color:white" title="Modifier"
              (click)="UpdateClient(client.id_client);"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      </table>
      <div class="card-footer">
        <hr>
        <div class="stats">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Ajouter un client</h5>
        <p class="card-category"></p>
      </div>

      <div class="card-footer">
        <form method="post">
          <div class="form-group" [class.has-error]="nom.invalid &&
            nom.touched">
            <label for="Nom"> *Nom</label>
            <input type="text" required pattern="[a-zA-Z]" #nom="ngModel"
              class="form-control" id="Nom" name="nom" [(ngModel)]="client.nom"
              placeholder="">
            <span class="help-block" *ngIf="nom.errors?.required && nom.touched"
              style="color:red ;">Nom est obligatoire</span>
            <span class="help-block" *ngIf="nom.errors?.pattern && nom.touched"
              style="color:red ;">Nom est invalide </span>
          </div>
          <div class="form-group" [class.has-error]="prenom.invalid &&
            prenom.touched">
            <label for="prenom">*Prenom</label>
            <input type="text" required pattern="[a-zA-Z]" #prenom="ngModel"
              class="form-control" id="MP" name="prenom"
              [(ngModel)]="client.prenom" placeholder="">
            <span class="help-block" *ngIf="prenom.errors?.required &&
              prenom.touched" style="color:red ;">Prenom est obligatoire</span>
            <span class="help-block" *ngIf="prenom.errors?.pattern &&
              prenom.touched" style="color:red ;">Prenom est invalide </span>
          </div>

          <div class="form-group" [class.has-error]="tel.invalid &&
            tel.touched">

            <label for="tel">*Telephone</label>
            <input type="text" required pattern="[0-9 ]{8}" #tel="ngModel"
              class="form-control" id="tel" name="tel" [(ngModel)]="client.tel"
              placeholder="">
            <span class="help-block" *ngIf="tel.errors?.required && tel.touched"
              style="color:red ;">Numéro est obligatoire</span>
            <span class="help-block" *ngIf="tel.errors?.pattern && tel.touched"
              style="color:red ;">Numéro est invalide </span>
          </div>


          <br><br>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round"
                (click)="saveClient()">Ajouter</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>