
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <table class="table table-striped">
        <tr><td>ID</td><td>Nom&PrenomCl</td><td>TelCl</td><td>Email</td><td>Message</td><td>Actions</td></tr>
        <tr *ngFor="let contact of contacts">
          <td>{{contact.id}}</td>
          <td>{{contact.nom_prenom}}</td>
          <td>{{contact.telc}}</td>
          <td>{{contact.email}}</td>

          <td>{{contact.message}}</td>
          <td>

            <a class="btn btn-danger"style="font-size:medium;color:
              darkred;background-color:white" title="supprimer"
              (click)="deleteContact(contact.id);"><i class="fa fa-trash"></i></a>
          </td></tr>

      </table>
      <div class="card-footer">
        <hr>
        <div class="stats">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">



</div>
