
<div class="row">

  <div class="col-md-12">

    <div class="card">
      
      <div class="input-group no-border">
        <input type="text"  [(ngModel)]="nom" (input)="search()"  class="form-control" placeholder="Search...">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="nc-icon nc-zoom-split"></i>
          </div>
        </div>
      </div>

      <table class="table table-bordred">
        <tr><td>ID</td><td>image</td><td>Nom</td><td>Ingredients</td><td>Categorie</td><td>Prix/DT</td><td>Actions</td></tr>
        <tr *ngFor="let article of articles">
          <td>{{article.idart}}</td>
          <td><img src="http://localhost:7999/photo/{{article.idart}}"
              style="height: 50px;width: 50px;"> </td>
          <td>{{article.nom}}</td>
          <td>{{article.ingredients}}</td>
          <td>{{article.categorie}}</td>
          <td>{{article.prix}}</td>
          <td>

            <a class="btn btn-danger"style="font-size:medium;color:
              darkred;background-color:white" title="supprimer"
              (click)="deleteArticle(article.idart);"><i class="fa fa-trash"></i></a>
            <a class="btn btn-success" style="font-size:medium;color: rgb(0,
              139, 63);background-color:white" title="Modifier"
              (click)="UpdateArticle(article.idart);"><i class="fa fa-edit"></i></a>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Ajouter un Article</h5>
        <p class="card-category"></p>
      </div>

      <div class="card-footer">
        <form method="post">
          <div class="form-group">
            <label for="Nom">*Nom</label>
            <input type="text" class="form-control" id="Nom" placeholder=""
              name="nom" required [(ngModel)]="article.nom">
          </div>
          <div class="form-group">
            <label for="ingredients">*Ingredients</label>
            <input type="text" class="form-control" id="ingredients"
              placeholder="" name="ingredients" required
              [(ngModel)]="article.ingredients">
          </div>

          <label for="prix">*Prix</label>
          <input type="number" class="form-control" id="prix" placeholder=""
            name="prix" required [(ngModel)]="article.prix">
          <br><br>
          <label class="control-label">*Categorie</label><br />
          <select [(ngModel)]="selectedCategorie" friendly-name="commande"
            id="commande" name="commande" class="col-md-6 form-control"
            ng-required="true" (ngModelChange)='onSelected($event)'>


            <option value="PIZZA">PIZZA</option>
            <option value="PLAT">PLAT</option>
            <option value="CREPE">CREPE</option>
            <option value="SANDWICH">SANDWICH</option>
            <option value="BOISSON">BOISSON</option>

          </select>

          <div class="file-field">

            <br><br>
            <label for="img"> *Image</label>
            <br>

            <input type="file" multiple name="image" id="image" required
              [(ngModel)]="article.image">


          </div>


          <br><br>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round"
                (click)="saveArticle()">Ajouter</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>



</div>
